<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/pic.jpg" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{> header}}
    <p>Welcome to the About Page</p>
    <p>This is a simple weather application that provides current weather information based on user input.</p>
    <p>Feel free to explore and use the application to check the weather in your area!</p>
    <p>Created By: {{name}}</p>
    <p>Thank you for using our application!</p>
    {{!-- Uncomment the following line to display the title --}}
    {{!-- <h1>{{title}}</h1> --}}
    <img class="portrait" src="/img/pic.jpg" />
    {{!-- <p>Created By:: {{name}}</p> --}}
  </div>

  {{> footer}}
</body>

</html>